fastapi[standard]==0.113.0
pydantic==2.8.0
sqlalchemy
psycopg2-binary
alembic
python-dotenv
uvicorn
loguru
pytest
pandas
numpy
playwright 
pykrx
TA-Lib
supabase
finance-datareader
passlib
python-jose[cryptography]
bcrypt
apscheduler